.img{
    background-image: url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?cs=srgb&dl=pexels-pixabay-36717.jpg&fm=jpg);
    margin:10px;
    position: absolute;
    background-size: 100% 100%;
    width:300px;
    height:200px;
    top:0;
    right:0;

}
.b-para{
    position: absolute;
    margin:15px;
    bottom:0;
    left:0;

}
#c-para{
    position: relative;
    margin:45% 2% 45% 2%;
    direction: ltr;
    
}